/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px 0;
  font-family: 'Kaushan', cursive, sans-serif;
}

h3 {
  display: block; /* 要素を縦に並べるための指定 */
}

main {
  padding: 10px 20px;
  margin: 30 auto 0;
  line-height: 35px;
  text-align: left;
}

main .text{
  padding: 20px 40px;
  margin: 30 auto 0;
  text-align: left;
}


main .switch{
  padding: 20px 30px;
  margin: 30 auto 0;
  text-align: left;
}

.actions {
  white-space: nowrap; /* テキストを折り返さないようにする */
}

.actions a {
  display: inline-block; /* ボタンをインラインブロック要素とする */
  margin-right: 10px; /* ボタン間の間隔を任意の値に調整する */
}

.list-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-box {
  width: 200px;
  height: 250px;
  margin: 10px;
  position: relative;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.success {
  background-color: #bcdfff;
  color: #0067C0;
}

.flash-message.update {
  background-color: #bcdfff;
  color: #0067C0;
}

.flash-message.destroy {
  background-color: #bcdfff;
  color: #0067C0;
}